body {
    background-color: #fffaf4;
    margin: 0;
    font-family: "Dongle", sans-serif;
    font-size: 25px;
    font-style: normal;
}

header {
    text-align: center;
    background-color: white;
}

img {
    width: 200px;
    height: auto;
}